body {
font-family: Arial, sans-serif;
background: #f9fafa;
padding: 20px;
}


#app {
width: 90%;
margin: auto;
background: #6ba5a0;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


input {
margin: 5px 0;
padding: 5px;
width: 45%;
}
#validateCount {
  width: 40%;
  margin: auto;
  background: #c1bcc5;
  padding: 5px;
  border-radius: 8px;
}