body {
font-family: Arial, sans-serif;
background: #f9fafa;
padding: 20px;
}

#players {
width: 90%;
margin: auto;
background: #6ba5a0;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}